.basic-text {
  font-weight: bold;
  color:#242011;
  
}
.icon {
  color: #bcbaa8
}
.active-text {
  color: #242011;
  font-weight: bold;
  font-size: 22px;
}
.inactive-text {
  color: #70789B
}
  .active-window {
  background-color: #709C81
}
.inactive-window {
  background-color: #70789B
}
.far-background {
  background-color:#bcbaa8;
}
.close-background {
  background-color: #bcbaa8;
  border-color: #bcbaa8;
}
.littlecircle {
  background:#709C81;
}
.invisible {
  background: none;
}
.panel-background {
  border-radius: 6px ;
  background-color: #bcbaa8;
}
.sep {
    color:#242011;
    font-weight: bold;
    font-size: 22px;
 margin: 2px 2px 4px 2px;
}
.minisep {
  color: #818073;
  font-weight: bold;
  font-size: 14px;
 margin: 2px 2px 2px 2px;
}
.date {
  color: #221f12;
  font-weight: bold;
  font-size: 19px;
}
.wifi {
  color: #221f12;
  font-weight: bold;
  font-size: 16px;
}
.test {
  background-color: #70789B;
  border: 3px solid #709C81;
  border-radius: 4;
}
.wifii {
  color: #242011;
  font-weight: bold;
  font-size: 26px;
  margin: 2px 2px 2px 2px;
}
.powerbutton {
  background-color: #2e2e2e; 
  color: #bcbaa8;
  font-weight: bold;
  font-size: 22px;
  margin: 0px 0px 0px 0px;
}
.largebutton {
     color:#242011;
  font-weight: bold;
  font-size: 40px;
  margin: 2px 2px 2px 2px;
}
.sep1 {
    background-color:#7a796e;
    font-weight: bold;
    font-size: 22px;
}
.powermenu {
    background-color: #2e2e2e;
    font-weight: bold;
    font-size: 22px;
    color: #bcbaa8;

    slider { 
      color: #ffffff;
      border: #ffffff;
    }
}
.workspacerevealer {
    background-color: #2e2e2e;
    font-weight: bold;
    font-size: 30px;
    color: #bcbaa8
}
.progress {
  min-width: 50px;
  min-height: 6px;
  border-radius: 4px;

  trough {
    background-color: #79776d;
    border-radius: 4px;
  }

  progress {
    background-color: #000000;
    border-radius: 4px;
  }
}
.powerbutton1 {
  background-color: #2e2e2e; 
  color: #bcbaa8;
  font-weight: bold;
  font-size: 19px;
  margin: 0px 2px 0px -2px;
}

.window-bg {
  background-color: #a8a69d;
  box-shadow: none;
}
.workspace1 {
  background-color: #2e2e2e; 
  color: #bcbaa8;
  font-weight: bold;
  font-size: 19px;
}
.sep2 {
    color:#7a796e;
    font-weight: bold;
    font-size: 22px;
    margin: 0px 0px 5px 0px;
}
.boxxx {
  border-radius: 6px ;
  background-color: #bcbaa8;
}
.powerbutton55 {
  background-color: #2e2e2e; 
  color: #bcbaa8;
  font-weight: bold;
  font-size: 20px;
  margin: 2px 0px 2px -10px;
  border-radius: 4px;
}
.borderbox {
  background-color: #bcbaa8;
  color: #bcbaa8;
  border: 3px solid #70789B;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.powerbutton1293123 {
  background-color: #2e2e2e; 
  color: #bcbaa8;
  font-weight: bold;
}
.bluetooth {
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  margin: 0px 0px 0px -1px;
}
.bluetoothmenu {
    background-color: #2e2e2e;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
}
.sound {
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  margin: 0px 0px 0px -3px;
}
.fans1 {
  color: #e99c9c;
  font-weight: bold;
  font-size: 22px;
  margin: 0px 0px 0px -3px;
}
.discord {
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  margin: 0px 0px 0px -8px;
}
.steam {
  color: #ffffff;
  font-weight: bold;
  font-size: 22px;
  margin: 0px 0px 0px -3px;
}
.youtube {
    background-color: #2e2e2e;
    font-weight: bold;
    font-size: 22px;
    color: #ff0033;
    margin: 0px 0px 0px -3px;
}
.fans2 {
  color: #afdda6;
  font-weight: bold;
  font-size: 22px;
  margin: 0px 0px 0px -3px;
}
.netflix {
    background-color: #2e2e2e;
    font-weight: bold;
    font-size: 22px;
    color: #e50914;
    margin: 0px 0px 0px 0px;
}
.cgpt {
    background-color: #2e2e2e;
    font-weight: bold;
    font-size: 22px;
    color: #a3a3a3;
    margin: 0px 0px 0px -3px;
}
.vscode {
    background-color: #2e2e2e;
    font-weight: bold;
    font-size: 22px;
    color: #24abf2;
    margin: 0px 0px 0px -3px;
}